<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="user" value="BROWSERSTACK_USERNAME" />
    <add key="key" value="BROWSERSTACK_ACCESS_KEY" />
    <add key="server" value="hub.browserstack.com" />
  </appSettings>
  
  <capabilities>
    <parallel_android>
      <add key="project" value="Xamarin Appium Integration" />
      <add key="build" value="Simple App Testing" />
      <add key="name" value="Android Simple App - MainPageTests" />
      <add key="browserstack.debug" value="true" />
      <add key="app" value="SimpleApp_Android"/>
      <add key="platformName" value="Android"/>
    </parallel_android>
    <parallel_ios>
      <add key="project" value="Xamarin Appium Integration" />
      <add key="build" value="Simple App Testing" />
      <add key="name" value="iOS Simple App - MainPageTests" />
      <add key="browserstack.debug" value="true" />
      <add key="app" value="SimpleApp_iOS"/>
      <add key="platformName" value="iOS"/>
    </parallel_ios>    
  </capabilities>

  <environments>
        <galaxy-s6>
            <add key="device" value="Samsung Galaxy S6"/>
        </galaxy-s6>
        <galaxy-s7>
            <add key="device" value="Samsung Galaxy S7"/>
        </galaxy-s7>
        <galaxy-s20>
            <add key="device" value="Samsung Galaxy S20"/>
        </galaxy-s20>
        <pixel-3xl>
            <add key="device" value="Google Pixel 3 XL"/>
        </pixel-3xl>
        <pixel>
            <add key="device" value="Google Pixel"/>
        </pixel>
        <iphone-7>
            <add key="device" value="iPhone 7"/>
        </iphone-7>
        <iphone-7-plus>
            <add key="device" value="iPhone 7 Plus"/>
        </iphone-7-plus>
        <iphone-11>
            <add key="device" value="iPhone 11"/>
        </iphone-11>
        <iphone-xs>
            <add key="device" value="iPhone XS"/>
        </iphone-xs>
    </environments>
</configuration>
